<html ng-app="galleryApp">
<head>
  <script src="components/jquery.min.js"></script>
  <script src="components/jquery.justifiedgallery.js"></script>
  <script src="components/jquery.colorbox-min.js"></script>
  <script src="components/angular.min.js"></script>
  <script src="components/underscore-min.js"></script>
  <link rel="stylesheet" href="components/justifiedgallery.min.css" type="text/css" media="all">
  <link rel="stylesheet" href="components/colorbox.css" type="text/css" media="all">
  <link rel="stylesheet" href="components/bootstrap.min.css" type="text/css" media="all">
</head>
<body ng-controller="PhotoListCtrl" style="background: black;">
  <div>
    <div>
      <button class="btn " type="button" ng-class="{true: 'btn-info', false: 'btn-primary'}[!random]" ng-click="random = !random; changeTag()">Random</button>
      <button ng-repeat="tag in tags" class="btn " type="button" ng-class="{true: 'btn-default', false: 'btn-primary'}[!tag.selected]" ng-click="tag.selected = !tag.selected; changeTag()">{{tag.name}}</button>
    </div>
  </div>
  <div gallery id="mygallery" ng-cloak>
  </div>
  <script src="controllers.js"></script>
  <script src="directives.js"></script>
</body>
</html>
